body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

.gradient-background {
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #4e0680, #935b93);
    transition: background 0.2s ease;
}

#homepages{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/*Первый экран*/
#first{
position: relative;
    width: 100%;
}
#header{
    width: 100%;
    height: 15vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 37vw;
}
.h2, .header_txt, .header_time, .bottom_txt{
    font-style: normal;
    font-weight: 300;
    line-height: 2vw;
    text-transform: uppercase;
}
 .h2, .h1, .bottom_txt{
     margin-left: 1.5vw;
 }


#middle{
    display: flex;
    width: 100%;
    height: 20vw;
}

.h1{
    font-size: 3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}


#bottom{
    width: 100%;
    height: 15vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 85vw;
}
.logo{
    width: 5vw;
}

#glass{
    position: absolute;
    display: flex;


}
/*Второй экран*/
.second{
    width: 100%;

}
#top2screen{
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 83vw;
}
.top_txt{
    font-style: normal;
    font-weight: 300;
    line-height: 2vw;
    text-transform: uppercase;
    margin-left: 1.5vw;
}

.help{
    width: 3vw;
    margin-top: 1vw;
    cursor: pointer;
    z-index: 1000;
}

.help:hover {
    transform: scale(1.1);
}
.help-tooltip {
    position: absolute;
    width: 20vw;
    margin-top: 3vw;
    background-color: rgb(78, 6, 128);
    color: white;
    padding: 0.5vw 0.7vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    white-space: pre-line;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#middle_part{
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: flex-start;
    gap: 20vw;
}
.stroke_screen{
    width: 2vw;
    height: 50vw;
    margin-top: -5vw;
    margin-left: 1.5vw;
}
#screen_game{
    position: relative;

}
#difficulty{
    display: flex;

}

.first_game{
    width: 60vw;
    height: auto;
    margin-top: -2vw;
}

.title{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -42vw;
    margin-left: 16vw;
}

.subtitle{
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}


.one{
    position: absolute;
    margin-top: -35vw;
    margin-left: 17vw;
}

.five{
    position: absolute;
    margin-top: -35vw;
    margin-left: 34.5vw;
}




.start_game{
    position: absolute;
    margin-left: 23vw;
    margin-top:-15vw;
    border-radius: 50px;
    border: 1px solid #4C0095;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 12.25vw;
    height: 5.5vw;
    padding: 0.7vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
}

.hidden {
    display: none;
    background-image: url("img/firstgame.png");
}

button{
    position: absolute;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2vw;
    border: 0.1vw solid #000000;
    background: #000;
    color: #FFF;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

button[data-genre="rock"]{
    margin-top: -31.5vw;
    margin-left: 34.3vw;
    cursor: pointer;
}
button[data-genre="ethno"]{
    margin-top: -28vw;
    margin-left: 33.8vw;
    cursor: pointer;
}
button[data-genre="pop"]{
    margin-top: -24.5vw;
    margin-left: 34.3vw;
    cursor: pointer;
}

button[data-difficulty="easy"]{
    margin-top: -31.5vw;
    margin-left: 18.2vw;
    cursor: pointer;
}
button[data-difficulty="medium"]{
    margin-top: -28vw;
    margin-left: 17.5vw;
    cursor: pointer;
}
button[data-difficulty="hard"]{
    margin-top: -24.5vw;
    margin-left: 17.2vw;
    cursor: pointer;
}
.difficulty-btn.active {
    border: 0.1vw solid #4C0095;
    border-radius: 10vw;
    background-color: #000000;
    cursor: pointer;
}

.genre-btn.active{
    border: 0.1vw solid #4C0095;
    background-color: #000000;
    border-radius: 10vw;
}
#notes-container {
    position: relative;
    width: 28.8vw;
    height: 21vw;
    background-image: url('/img/firstgame.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.7vw;
    overflow: hidden;
}

.note {
    position: absolute;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    z-index: 10;
}
#score{
    margin-top: -20vw;
    margin-left: -13vw;
}

/*Третий экран*/
.third_screen{
    width: 100%;
    margin-bottom: 3vw;
}
#top3screen{
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 87.5vw;
}
#screen_game2{
    position: relative;
    display: flex;
}

.first_game_2 {
    width: 60vw;
    height: 51vw;
    margin-top: -50vw;
    margin-left: 23.5vw;
}

.title2{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -45vw;
    margin-left: 37vw;
}

.image-container {
position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: -41vw;
    margin-left: 37vw;
}

#dynamicImage {
    width: 30vw;
    height: 30vw;
    transition: opacity 0.5s ease;
}
.circle-animation {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 20vw;
height: 20vw;
    animation: breathe 4s infinite;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.start_game2{
    position: absolute;
    margin-left: 46vw;
    margin-top: -11vw;
    border-radius: 50px;
    border: 1px solid #4C0095;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 12.25vw;
    height: 5vw;
    padding: 0.7vw;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
    flex-shrink: 0;
    cursor: pointer;
}
/*Четвертый экран*/
.four_screen{
    margin-top: -3vw;
}
#top4screen{
    margin-top: 0vw;
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 87vw;
}

.stroke_screen3{
    width: 2vw;
    height: 50vw;
    margin-top: -5vw;
    margin-left: 1.5vw;
}

#screen_game3{
    position: relative;
    display: flex;
}
.first_game_3{
    width: 60vw;
    height: 51vw;
    margin-top: -50vw;
    margin-left: 23.5vw;
}

.title3{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -46vw;
    margin-left: 45vw;
}

.start_game3{
    position: absolute;
    margin-left: 37vw;
    margin-top: -28vw;
    border-radius: 50px;
    border: 1px solid #4C0095;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 31.25vw;
    height: 5.5vw;
    padding: 0.7vw;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 0.7vw;
    flex-shrink: 0;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.hidden {
    display: none;
}

#hall {
    width: 50vw;
    height: 30vw;
    border: 0.1vw solid #4C0095;
    position: absolute;
    margin-top: -40vw;
    margin-left: 27.5vw;
    display: none;

}

.stage {
    width: 5vw;
    height: 5vw;
    background-color: #000000;
    border: 0.1vw solid #4C0095;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    line-height: normal;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat {
    width: 3vw;
    height: 3vw;
    background-color: #000000;
    border: 0.1vw solid #4C0095;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.seat.active {
    background: #4C0095;
    box-shadow: 0 0 1vw rgba(76, 0, 149, 0.7);
    transform: scale(1.1);
}

.tooltip {
    position: absolute;
    padding: 0.5vw;
    width: 30vw;
    height: 7vw;
    background: rgb(78, 6, 128);
    color: white;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-style: normal;
    font-size: 1vw;
    font-weight: 300;
    line-height: normal;
    display: none;
    z-index: 100;
}

/*Пятый экран*/
.five_screen{
    width: 100%;
    height: 45vw;
    background-color: #58006E;
    display: flex;
    z-index: 3;
}

.text{
    width: 30vw;
    margin-top: 2vw;
    z-index: 1;
}
.footter_txt, .footter1_txt, .footter2_txt {
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2vw;
}
.footter_txt{
    margin-top: 2vw;
}
.footter1_txt{
    margin-top: 15vw;
}
.contacs, .contacs2, .footter3_txt{
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2vw;
}

.contacs, .contacs2{
    margin-top: -1.2vw;
}
.footter2_txt{
    margin-top: 12vw;
}
.footter3_txt{
    margin-top: -2vw;
}

.hl_footer{
    position: absolute;
    transition: filter 0.3s ease;
    z-index: 1;
}

.hl{
    width: 65vw;
    height: 45vw;
    margin-left: 45vw;
    margin-top: 5vw;
    transition: filter 0.3s ease;
}
    .hl:hover {
        filter: url(#water-effect);
}
