body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

.gradient-background {
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #4e0680, #935b93);
    transition: background 0.2s ease;
}

#homepages{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#first{
position: relative;
    width: 100%;
}
#header{
    width: 100%;
    height: 15vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 37vw;
}
.h2, .header_txt, .header_time, .bottom_txt{
    font-style: normal;
    font-weight: 300;
    line-height: 2vw;
    text-transform: uppercase;
}
 .h2, .h1, .bottom_txt{
     margin-left: 1.5vw;
 }


#middle{
    display: flex;
    width: 100%;
    height: 20vw;
}

.h1{
    font-size: 3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}


#bottom{
    width: 100%;
    height: 15vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 85vw;
}
.logo{
    width: 5vw;
}

#glass{
    position: absolute;
    margin-left: 70vw;
}

.second{
    width: 100%;

}
#top2screen{
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 83vw;
}
.top_txt{
    font-style: normal;
    font-weight: 300;
    line-height: 2vw;
    text-transform: uppercase;
    margin-left: 1.5vw;
}

.help{
    width: 3vw;
    margin-top: 1vw;
}

#middle_part{
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: flex-start;
    gap: 20vw;
}
.stroke_screen{
    width: 2vw;
    height: 50vw;
    margin-top: -5vw;
    margin-left: 1.5vw;
}
#screen_game{
    position: relative;
}

.first_game{
    width: 60vw;
    height: auto;
    margin-top: -2vw;
}

.title{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -41vw;
    margin-left: 15vw;
}

.subtitle{
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;

}


.one{
    position: absolute;
    margin-top: -35.5vw;
    margin-left: 16vw;
}

.five{
    position: absolute;
    margin-top: -35.5vw;
    margin-left: 34vw;
}




.start_game{
    position: absolute;
    margin-left: 22.5vw;
    margin-top:-18vw;
    border-radius: 50px;
    border: 1px solid #4800FF;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 180px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.hidden {
    display: none;
    background-image: url("img/firstgame.png");
}

button{
    position: absolute;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2vw;
    border: 1px solid #000000;
    background: #000;
    color: #FFF;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

button[data-genre="rock"]{
    margin-top: -31.5vw;
    margin-left: 34vw;
}
button[data-genre="classic"]{
    margin-top: -28vw;
    margin-left: 31.5vw;
}
button[data-genre="pop"]{
    margin-top: -24.5vw;
    margin-left: 34vw;
}

button[data-difficulty="easy"]{
    margin-top: -31.5vw;
    margin-left: 17.2vw;
}
button[data-difficulty="medium"]{
    margin-top: -28vw;
    margin-left: 16.5vw;
}
button[data-difficulty="hard"]{
    margin-top: -24.5vw;
    margin-left: 16.2vw;
}
.difficulty-btn.active {
    border: 2px solid #0711a2;
    border-radius: 50px;
    background-color: #000000;
}

.genre-btn.active{
    border: 2px solid #0711a2;
    background-color: #000000;
    border-radius: 50px;
}
#notes-container {
    position: relative;
    width: 400px;
    height: 300px;
    background-image: url('/img/firstgame.png'); /* Ваш фон */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.note {
    position: absolute;
    width: 40px; /* Размер SVG */
    height: 40px;
    cursor: pointer;
    z-index: 10;
}
#score{
    margin-top: -20vw;
    margin-left: -13vw;
}









.third_screen{
    width: 100%;
    margin-bottom: 3vw;
}
#top3screen{
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 87.5vw;
}
#screen_game2{
    position: relative;
    display: flex;
}

.first_game_2 {
    width: 60vw;
    height: 51vw;
    margin-top: -50vw;
    margin-left: 23.5vw;
}

.title2{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -45vw;
    margin-left: 37vw;
}

.circles{
    position: absolute;
    width: 30vw;
    height: auto;
    margin-top: -40vw;
    margin-left: 37vw;
}

.start_game2{
    position: absolute;
    margin-left: 46vw;
    margin-top: -10vw;
    border-radius: 50px;
    border: 1px solid #4800FF;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.four_screen{
    margin-top: -3vw;
}
#top4screen{
    margin-top: 0vw;
    width: 100%;
    height: 10vw;
    display: inline-flex;
    align-items: flex-start;
    gap: 87vw;
}

.stroke_screen3{
    width: 2vw;
    height: 50vw;
    margin-top: -5vw;
    margin-left: 1.5vw;
}

#screen_game3{
    position: relative;
    display: flex;
}
.first_game_3{
    width: 60vw;
    height: 51vw;
    margin-top: -50vw;
    margin-left: 23.5vw;
}

.title3{
    position: absolute;
    color: #4C0095;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -46vw;
    margin-left: 45vw;
}

.start_game3{
    position: absolute;
    margin-left: 37vw;
    margin-top: -28vw;
    border-radius: 50px;
    border: 1px solid #4800FF;
    background: #000;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    width: 450px;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 10px;
    flex-shrink: 0;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#imageContainer {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

#interactiveImage {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}


.five_screen{
    width: 100%;
    height: 45vw;
    background-color: #58006E;
    display: flex;
    z-index: 3;
}

.text{
    width: 30vw;
    margin-top: 2vw;
    z-index: 1;
}
.footter_txt, .footter1_txt, .footter2_txt {
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2vw;
}
.footter_txt{
    margin-top: 2vw;
}
.footter1_txt{
    margin-top: 15vw;
}
.contacs, .contacs2, .footter3_txt{
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2vw;
}

.contacs, .contacs2{
    margin-top: -1.2vw;
}
.footter2_txt{
    margin-top: 12vw;
}
.footter3_txt{
    margin-top: -2vw;
}

.hl_footer{
    position: absolute;
    transition: filter 0.3s ease;
    z-index: 1;
}

.hl{
    width: 65vw;
    height: 45vw;
    margin-left: 45vw;
    margin-top: 5vw;
    transition: filter 0.3s ease;
}
    .hl:hover {
        filter: url(#water-effect);
}
